# Hours of Sunshine

In [5]:
!pip install vega_datasets

Collecting vega_datasets
  Downloading vega_datasets-0.9.0-py3-none-any.whl.metadata (5.5 kB)
Requirement already satisfied: pandas in /Users/thananhthu/cse442-dataviz/.venv/lib/python3.12/site-packages (from vega_datasets) (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in /Users/thananhthu/cse442-dataviz/.venv/lib/python3.12/site-packages (from pandas->vega_datasets) (2.4.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/thananhthu/cse442-dataviz/.venv/lib/python3.12/site-packages (from pandas->vega_datasets) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/thananhthu/cse442-dataviz/.venv/lib/python3.12/site-packages (from pandas->vega_datasets) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /Users/thananhthu/cse442-dataviz/.venv/lib/python3.12/site-packages (from pandas->vega_datasets) (2025.3)
Requirement already satisfied: six>=1.5 in /Users/thananhthu/cse442-dataviz/.venv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas->vega_datasets) (1.17.0)
Downloading vega_datasets-0.9.0-py3-none-any.whl (210 kB)
Installing collected packages: vega_datasets
Successfully installed vega_datasets-0.9.0

In [ ]:
import pandas as pd
import altair as alt
import numpy as np
import matplotlib.pyplot as plt
from vega_datasets import data

In [3]:
df = pd.read_csv("sunshine.csv")
df

       city         lon        lat month  monthnum  sunshine
0   Chicago  -87.623177  41.881832   Jan         0       135
1   Chicago  -87.623177  41.881832   Feb         1       136
2   Chicago  -87.623177  41.881832   Mar         2       187
3   Chicago  -87.623177  41.881832   Apr         3       215
4   Chicago  -87.623177  41.881832   May         4       281
..      ...         ...        ...   ...       ...       ...
67  Seattle -122.335167  47.608013   Aug         7       281
68  Seattle -122.335167  47.608013   Sep         8       221
69  Seattle -122.335167  47.608013   Oct         9       142
70  Seattle -122.335167  47.608013   Nov        10        72
71  Seattle -122.335167  47.608013   Dec        11        52

[72 rows x 6 columns]

In [22]:
# Subset the data to only include the month of April
df_apr = df[df["month"] == "Apr"]
df_apr

             city         lon        lat month  monthnum  sunshine
3         Chicago  -87.623177  41.881832   Apr         3       215
15        Houston  -95.358421  29.749907   Apr         3       212
27          Miami  -80.191788  25.761681   Apr         3       275
39       New York  -73.935242  40.730610   Apr         3       237
51  San Francisco -122.446747  37.733795   Apr         3       281
63        Seattle -122.335167  47.608013   Apr         3       207

In [26]:
states = alt.topo_feature(data.us_10m.url, "states")
background = alt.Chart(states).mark_geoshape(
    fill="lightgray",
    stroke="white"
).project("albersUsa").properties(
    width=500,
    height=400
)

cities = alt.Chart(df_apr).mark_circle(
    size=200,  # Fixed size
    opacity=0.7,
    stroke="black",
    strokeWidth=1
).encode(
    longitude='lon:Q',
    latitude='lat:Q',
    color=alt.Color('sunshine:Q', scale=alt.Scale(scheme='oranges'), title="Sunshine Hours"),
    tooltip=['city:N', 'sunshine:Q']
).project("albersUsa").properties(
    width=500,
    height=400
)

background + cities

alt.LayerChart(...)

In [28]:
months = df["month"].unique()
cities = df["city"].unique()

# Create a line chart of sunshine hours by month for each city
alt.Chart(df).mark_line().encode(
    x="month",
    y="sunshine",
    color="city"
).properties(
    width=800,
    height=400
)

alt.Chart(...)